header.header
    .header__top
        .header__top-wrapper
            .header__greeting
                .header__greeting-text 
                    span Hello guys! Welcome to MeShop
                    span Email: free@psd.in.ua
                .header__lang 
                    span EN
                    span USD
            .header__nav
                .header__logo MeStore
                .header__menu
                    .mobile-menu__burger.burger
                        .burger__item.burger__item_top
                        .burger__item.burger__item_middle
                        .burger__item.burger__item__bottom
                    ul.header__menu-items
                        li.header__menu-item
                            a(href="#") Home
                        li.header__menu-item
                            a(href="#") Shop
                        li.header__menu-item
                            a(href="#") Product
                        li.header__menu-item
                            a(href="#") Blog
                        li.header__menu-item
                            a(href="#") Portfolio
                        li.header__menu-item
                            a(href="#") Page
                .header__navs
                    .header__nav-item
                        svg
                            use(xlink:href='./img/svg/header/loupe.svg#loupe')
                    .header__nav-item
                        svg
                            use(xlink:href='./img/svg/header/shopping.svg#shopping')
                    .header__nav-item
                        svg
                            use(xlink:href='./img/svg/header/menu.svg#menu')
    .header__content
        .header__content-wrapper
            .header__title Fashion #[span.header__title_pink Carnival] #[span.header__title_number 2022]
            .header__desc Lorem Ipsum. Proin gravida nibh velit it’s a cold world out there.This is Photoshop's version of Lorem Ipsum. Proin gravida nibh velit it’s a cold world out there.
            .header__btn-block
                a.btn-default(href="#") Shop Now

