.main-products {
    display: flex;
    justify-content: space-between;

    &__item {
        text-align: center;

        &_width {
            width: calc((100% - 4 * 20px) / 4);
        }
    }

    &__item-small {
        display: flex;
        align-items: center;
        text-align: left;

        &:not(:last-child) {
            padding-bottom: 19px;
            margin-bottom: 20px;
            border-bottom: 1px solid $border-brands;
        }

        @media (max-width: $screen-sm) {
            justify-content: center;
        }
    }

    &__img {
        padding-bottom: 20px;

        img {
            @include img;
            margin: auto;
        }

        &_no-pd {
            padding-bottom: 0;
        }

        &_ident-r {
            margin-right: 29px;
        }
    }

    &__name {
        font-size: rem(18);
        line-height: rem(22);
        font-weight: 700;
    }

    &__brand {
        font-weight: 500;
        padding-bottom: 19px;

        &_italic-gray {
            font-style: italic;
            color: $gray2;
        }

        &_small-pd {
            padding-bottom: 4px;
        }
    }

    &__rating {
        padding-bottom: 10px;

        svg {
            width: 15px;
            height: 15px;
            stroke-width: 25px;
            stroke: $star;
            fill: $white;

            &.yellow {
                fill: $star;
            }
        }

        &_big-pd {
            padding-bottom: 19px;
        }
    }

    &__price-block {
        display: flex;
        justify-content: center;

        div + div {
            margin-left: 10px;
        }

        &_align-l {
            justify-content: flex-start;
        }
    }

    &__old-price {
        font-weight: 500;
        color: $gray2;
        text-decoration: underline;
        text-decoration: line-through;
    }

    &__base-price {
        font-size: 18px;
        font-weight: 800;

        &_pink {
            color: $price-pink;    
        }
    }
    
}