section.brands
    .brands__body
        .brands__body-wrapper
            .brands__row
                .brands__row-wrapper
                    .brands__column.brands__column_grow.main-products
                        .brands__title-item Our Brands
                        .main-products__item.main-products__item-small
                            .main-products__img.main-products__img_no-pd.main-products__img_ident-r
                                img(src="./img/brands/brands_1.jpg", alt="")
                            .main-products__body
                                .main-products__name Orange T-shirt
                                .main-products__brand.main-products__brand_italic-gray.main-products__brand_small-pd Nike
                                .main-products__rating.main-products__rating_big-pd
                                    svg.yellow
                                        use(xlink:href='./img/svg/featured/star.svg#star')
                                    svg.yellow
                                        use(xlink:href='./img/svg/featured/star.svg#star')
                                    svg.yellow
                                        use(xlink:href='./img/svg/featured/star.svg#star')
                                    svg.yellow
                                        use(xlink:href='./img/svg/featured/star.svg#star')
                                    svg
                                        use(xlink:href='./img/svg/featured/star.svg#star')
                                .main-products__price-block.main-products__price-block_align-l
                                    .main-products__old-price $74.00
                                    .main-products__base-price.main-products__base-price_pink $69.00
                        .main-products__item.main-products__item-small
                            .main-products__img.main-products__img_no-pd.main-products__img_ident-r
                                img(src="./img/brands/brands_2.jpg", alt="")
                            .main-products__body
                                .main-products__name Orange T-shirt
                                .main-products__brand.main-products__brand_italic-gray.main-products__brand_small-pd Nike
                                .main-products__rating.main-products__rating_big-pd
                                    svg.yellow
                                        use(xlink:href='./img/svg/featured/star.svg#star')
                                    svg.yellow
                                        use(xlink:href='./img/svg/featured/star.svg#star')
                                    svg.yellow
                                        use(xlink:href='./img/svg/featured/star.svg#star')
                                    svg.yellow
                                        use(xlink:href='./img/svg/featured/star.svg#star')
                                    svg
                                        use(xlink:href='./img/svg/featured/star.svg#star')
                                .main-products__price-block.main-products__price-block_align-l
                                    .main-products__old-price $74.00
                                    .main-products__base-price.main-products__base-price_pink $69.00
                        .main-products__item.main-products__item-small
                            .main-products__img.main-products__img_no-pd.main-products__img_ident-r
                                img(src="./img/brands/brands_3.jpg", alt="")
                            .main-products__body
                                .main-products__name Orange T-shirt
                                .main-products__brand.main-products__brand_italic-gray.main-products__brand_small-pd Nike
                                .main-products__rating.main-products__rating_big-pd
                                    svg.yellow
                                        use(xlink:href='./img/svg/featured/star.svg#star')
                                    svg.yellow
                                        use(xlink:href='./img/svg/featured/star.svg#star')
                                    svg.yellow
                                        use(xlink:href='./img/svg/featured/star.svg#star')
                                    svg.yellow
                                        use(xlink:href='./img/svg/featured/star.svg#star')
                                    svg
                                        use(xlink:href='./img/svg/featured/star.svg#star')
                                .main-products__price-block.main-products__price-block_align-l
                                    .main-products__old-price $74.00
                                    .main-products__base-price.main-products__base-price_pink $69.00
                        .main-products__item.main-products__item-small
                                .main-products__img.main-products__img_no-pd.main-products__img_ident-r
                                    img(src="./img/brands/brands_4.jpg", alt="")
                                .main-products__body
                                    .main-products__name Orange T-shirt
                                    .main-products__brand.main-products__brand_italic-gray.main-products__brand_small-pd Nike
                                    .main-products__rating.main-products__rating_big-pd
                                        svg.yellow
                                            use(xlink:href='./img/svg/featured/star.svg#star')
                                        svg.yellow
                                            use(xlink:href='./img/svg/featured/star.svg#star')
                                        svg.yellow
                                            use(xlink:href='./img/svg/featured/star.svg#star')
                                        svg.yellow
                                            use(xlink:href='./img/svg/featured/star.svg#star')
                                        svg
                                            use(xlink:href='./img/svg/featured/star.svg#star')
                                    .main-products__price-block.main-products__price-block_align-l
                                        .main-products__old-price $74.00
                                        .main-products__base-price.main-products__base-price_pink $69.00
                    .brands__column.brands__column_shrink
                        .brands__banner.banner
                            .banner__text-block
                                .banner__text #[div Summer] #[div.banner__text-sale Sale] #[div.banner__text-discount Discount] #[div.banner__text-upto upto]
                                .banner__number 80%
                    .brands__column.brands__column_grow.main-products
                        .brands__title-item Our Brands
                        .main-products__item.main-products__item-small
                            .main-products__img.main-products__img_no-pd.main-products__img_ident-r
                                img(src="./img/brands/brands_1.jpg", alt="")
                            .main-products__body
                                .main-products__name Orange T-shirt
                                .main-products__brand.main-products__brand_italic-gray.main-products__brand_small-pd Nike
                                .main-products__rating.main-products__rating_big-pd
                                    svg.yellow
                                        use(xlink:href='./img/svg/featured/star.svg#star')
                                    svg.yellow
                                        use(xlink:href='./img/svg/featured/star.svg#star')
                                    svg.yellow
                                        use(xlink:href='./img/svg/featured/star.svg#star')
                                    svg.yellow
                                        use(xlink:href='./img/svg/featured/star.svg#star')
                                    svg
                                        use(xlink:href='./img/svg/featured/star.svg#star')
                                .main-products__price-block.main-products__price-block_align-l
                                    .main-products__old-price $74.00
                                    .main-products__base-price.main-products__base-price_pink $69.00
                        .main-products__item.main-products__item-small
                            .main-products__img.main-products__img_no-pd.main-products__img_ident-r
                                img(src="./img/brands/brands_2.jpg", alt="")
                            .main-products__body
                                .main-products__name Orange T-shirt
                                .main-products__brand.main-products__brand_italic-gray.main-products__brand_small-pd Nike
                                .main-products__rating.main-products__rating_big-pd
                                    svg.yellow
                                        use(xlink:href='./img/svg/featured/star.svg#star')
                                    svg.yellow
                                        use(xlink:href='./img/svg/featured/star.svg#star')
                                    svg.yellow
                                        use(xlink:href='./img/svg/featured/star.svg#star')
                                    svg.yellow
                                        use(xlink:href='./img/svg/featured/star.svg#star')
                                    svg
                                        use(xlink:href='./img/svg/featured/star.svg#star')
                                .main-products__price-block.main-products__price-block_align-l
                                    .main-products__old-price $74.00
                                    .main-products__base-price.main-products__base-price_pink $69.00
                        .main-products__item.main-products__item-small
                            .main-products__img.main-products__img_no-pd.main-products__img_ident-r
                                img(src="./img/brands/brands_3.jpg", alt="")
                            .main-products__body
                                .main-products__name Orange T-shirt
                                .main-products__brand.main-products__brand_italic-gray.main-products__brand_small-pd Nike
                                .main-products__rating.main-products__rating_big-pd
                                    svg.yellow
                                        use(xlink:href='./img/svg/featured/star.svg#star')
                                    svg.yellow
                                        use(xlink:href='./img/svg/featured/star.svg#star')
                                    svg.yellow
                                        use(xlink:href='./img/svg/featured/star.svg#star')
                                    svg.yellow
                                        use(xlink:href='./img/svg/featured/star.svg#star')
                                    svg
                                        use(xlink:href='./img/svg/featured/star.svg#star')
                                .main-products__price-block.main-products__price-block_align-l
                                    .main-products__old-price $74.00
                                    .main-products__base-price.main-products__base-price_pink $69.00
                        .main-products__item.main-products__item-small
                            .main-products__img.main-products__img_no-pd.main-products__img_ident-r
                                img(src="./img/brands/brands_4.jpg", alt="")
                            .main-products__body
                                .main-products__name Orange T-shirt
                                .main-products__brand.main-products__brand_italic-gray.main-products__brand_small-pd Nike
                                .main-products__rating.main-products__rating_big-pd
                                    svg.yellow
                                        use(xlink:href='./img/svg/featured/star.svg#star')
                                    svg.yellow
                                        use(xlink:href='./img/svg/featured/star.svg#star')
                                    svg.yellow
                                        use(xlink:href='./img/svg/featured/star.svg#star')
                                    svg.yellow
                                        use(xlink:href='./img/svg/featured/star.svg#star')
                                    svg
                                        use(xlink:href='./img/svg/featured/star.svg#star')
                                .main-products__price-block.main-products__price-block_align-l
                                    .main-products__old-price $74.00
                                    .main-products__base-price.main-products__base-price_pink $69.00
            .brands__bottom 
                .brands__title Never miss any fashion trending
                .brands__subtitle Praesent mauris. Fusce nec tellus sed augue semper porta.
                form.brands__form(action="#")
                    .brands__form-input 
                        input(type="text")
                    .brands__form-button 
                        button.btn-default Read More