section.featured
    .featured__body
        .featured__adv-items
            .featured__adv-block.adv
                .adv__item
                    .adv__icon
                        svg
                            use(xlink:href='./img/svg/featured/plane.svg#plane')
                    .adv__text
                        .adv__title Free Shipping
                        .adv__desc With €50 or more orders
                .adv__item
                    .adv__icon
                        svg
                            use(xlink:href='./img/svg/featured/clock.svg#clock')
                    .adv__text
                        .adv__title Free Refund
                        .adv__desc 100% Refund Within 3 days
                .adv__item
                    .adv__icon
                        svg
                            use(xlink:href='./img/svg/featured/lifebuoy.svg#lifebuoy')
                    .adv__text
                        .adv__title Support 24.7
                        .adv__desc Call us anytime you want
        .featured__catalog-links.catalog-links
            .catalog-links__item.catalog-links__item_img-1
                .catalog-links__title Fashion #[div Carnival]
                .catalog-links__desc Lorem Ipsum. Proin gravida nibh velit it’s a cold world
                .catalog-links__btn-block
                    a.btn-default(href="#") Shop Now
            .catalog-links__item.catalog-links__item_img-2
                .catalog-links__title Fashion #[div Carnival]
                .catalog-links__desc Lorem Ipsum. Proin gravida nibh velit it’s a cold world
                .catalog-links__btn-block
                    a.btn-default(href="#") Shop Now
        .featured__main
            .featured__title FEATURED PRODUCTS
            .featured__desc Praesent mauris. Fusce nec tellus sed augue semper porta.
            .featured__products-block.main-products#products-slide
                .main-products__item.main-products__item_width
                    .main-products__img
                        img(src="./img/featured/product_1.jpg", alt="")
                    .main-products__name Orange T-shirt
                    .main-products__brand Nike
                    .main-products__rating
                        svg.yellow
                            use(xlink:href='./img/svg/featured/star.svg#star')
                        svg.yellow
                            use(xlink:href='./img/svg/featured/star.svg#star')
                        svg.yellow
                            use(xlink:href='./img/svg/featured/star.svg#star')
                        svg.yellow
                            use(xlink:href='./img/svg/featured/star.svg#star')
                        svg
                            use(xlink:href='./img/svg/featured/star.svg#star')
                    .main-products__price-block
                        .main-products__old-price $74.00
                        .main-products__base-price $69.00
                .main-products__item.main-products__item_width
                    .main-products__img
                        img(src="./img/featured/product_2.jpg", alt="")
                    .main-products__name Orange T-shirt
                    .main-products__brand Nike
                    .main-products__rating
                        svg.yellow
                            use(xlink:href='./img/svg/featured/star.svg#star')
                        svg.yellow
                            use(xlink:href='./img/svg/featured/star.svg#star')
                        svg.yellow
                            use(xlink:href='./img/svg/featured/star.svg#star')
                        svg
                            use(xlink:href='./img/svg/featured/star.svg#star')
                        svg
                            use(xlink:href='./img/svg/featured/star.svg#star')
                    .main-products__price-block
                        .main-products__old-price $74.00
                        .main-products__base-price $69.00
                .main-products__item.main-products__item_width
                    .main-products__img
                        img(src="./img/featured/product_3.jpg", alt="")
                    .main-products__name Orange T-shirt
                    .main-products__brand Nike
                    .main-products__rating
                        svg.yellow
                            use(xlink:href='./img/svg/featured/star.svg#star')
                        svg.yellow
                            use(xlink:href='./img/svg/featured/star.svg#star')
                        svg
                            use(xlink:href='./img/svg/featured/star.svg#star')
                        svg
                            use(xlink:href='./img/svg/featured/star.svg#star')
                        svg
                            use(xlink:href='./img/svg/featured/star.svg#star')
                    .main-products__price-block
                        .main-products__old-price $74.00
                        .main-products__base-price $69.00
                .main-products__item.main-products__item_width
                    .main-products__img
                        img(src="./img/featured/product_4.jpg", alt="")
                    .main-products__name Orange T-shirt
                    .main-products__brand Nike
                    .main-products__rating
                        svg.yellow
                            use(xlink:href='./img/svg/featured/star.svg#star')
                        svg
                            use(xlink:href='./img/svg/featured/star.svg#star')
                        svg
                            use(xlink:href='./img/svg/featured/star.svg#star')
                        svg
                            use(xlink:href='./img/svg/featured/star.svg#star')
                        svg
                            use(xlink:href='./img/svg/featured/star.svg#star')
                    .main-products__price-block
                        .main-products__old-price $74.00
                        .main-products__base-price $69.00
                .main-products__item.main-products__item_width
                    .main-products__img
                        img(src="./img/featured/product_3.jpg", alt="")
                    .main-products__name Orange T-shirt
                    .main-products__brand Nike
                    .main-products__rating
                        svg.yellow
                            use(xlink:href='./img/svg/featured/star.svg#star')
                        svg.yellow
                            use(xlink:href='./img/svg/featured/star.svg#star')
                        svg.yellow
                            use(xlink:href='./img/svg/featured/star.svg#star')
                        svg.yellow
                            use(xlink:href='./img/svg/featured/star.svg#star')
                        svg
                            use(xlink:href='./img/svg/featured/star.svg#star')
                    .main-products__price-block
                        .main-products__old-price $74.00
                        .main-products__base-price $69.00
            .featured__nav-block
                // a.featured__nav-item(href="#")
                    .arrow-left
                // a.featured__nav-item(href="#")
                    .arrow-right