section.news
    .news__body
        .news__title-block
            .news__title Latest News
            .news__desc Praesent mauris. Fusce nec tellus sed augue semper porta.
        .news__items.news-cards
            .news-cards__item
                .news-cards__image 
                    img(src="./img/news/news_1.jpg", alt="")
                .news-cards__info
                    .news-cards__title Porem ipsum dolor sit ame
                    .news-cards__subtitle Lorem Ipsum. Proin gravida nibh
                    .news-cards__desc Lorem Ipsum. Proin gravida nibh velit it’s a cold world out there.This is Photoshop's version of Lorem Ipsum.
                    .news-cards__bottom 
                        a.btn-default(href="") Read More 
                        .news-cards__actions
                            .news-cards__icon.news-cards__icon_favorites
                                svg
                                    use(xlink:href='./img/svg/news/heart.svg#heart')
                            .news-cards__icon.news-cards__icon_comment
                                svg
                                    use(xlink:href='./img/svg/news/message.svg#message')
            .news-cards__item
                .news-cards__image 
                    img(src="./img/news/news_2.jpg", alt="")
                .news-cards__info
                    .news-cards__title Porem ipsum dolor sit ame
                    .news-cards__subtitle Lorem Ipsum. Proin gravida nibh
                    .news-cards__desc Lorem Ipsum. Proin gravida nibh velit it’s a cold world out there.This is Photoshop's version of Lorem Ipsum.
                    .news-cards__bottom 
                        a.btn-default(href="") Read More 
                        .news-cards__actions
                            .news-cards__icon.news-cards__icon_favorites
                                svg
                                    use(xlink:href='./img/svg/news/heart.svg#heart')
                            .news-cards__icon.news-cards__icon_comment
                                svg
                                    use(xlink:href='./img/svg/news/message.svg#message')
            .news-cards__item
                .news-cards__image 
                    img(src="./img/news/news_3.jpg", alt="")
                .news-cards__info
                    .news-cards__title Porem ipsum dolor sit ame
                    .news-cards__subtitle Lorem Ipsum. Proin gravida nibh
                    .news-cards__desc Lorem Ipsum. Proin gravida nibh velit it’s a cold world out there.This is Photoshop's version of Lorem Ipsum.
                    .news-cards__bottom 
                        a.btn-default(href="") Read More 
                        .news-cards__actions
                            .news-cards__icon.news-cards__icon_favorites
                                svg
                                    use(xlink:href='./img/svg/news/heart.svg#heart')
                            .news-cards__icon.news-cards__icon_comment
                                svg
                                    use(xlink:href='./img/svg/news/message.svg#message')