section.popular
    .popular__body
        .popular__images
            .popular__image
                img(src="./img/popular/popular_1.png", alt="")
            .popular__image
                img(src="./img/popular/popular_2.png", alt="")
            .popular__image
                img(src="./img/popular/popular_3.png", alt="")
            .popular__image
                img(src="./img/popular/popular_4.png", alt="")
            .popular__image
                img(src="./img/popular/popular_5.png", alt="")
            .popular__image
                img(src="./img/popular/popular_1.png", alt="")