footer.footer 
    .footer__body 
        .footer__top 
            .footer__row 
                .footer__column.footer__column_md 
                    .footer__column-title About cmpany
                    .footer__text This is Photoshop's version of Lorem Ipsum. Proin gravida nibh velit it’s a cold world out there.
                    .footer__contact.contact 
                        .contact__item.contact__item_street 0123 Main Road, Your City, NY 123456
                        .contact__item.contact__item_number
                            a(href="") (000) 2345 - 6789
                        .contact__item.contact__item_email
                            a(href="") info@psd.in.ua
                .footer__column 
                    .footer__column-title My Account
                    .footer__menu.footer-menu 
                        ul.footer-menu__items 
                            li.footer-menu__item 
                                a(href="#") My Account
                            li.footer-menu__item 
                                a(href="#") Contact
                            li.footer-menu__item 
                                a(href="#") Frequently Questions
                            li.footer-menu__item 
                                a(href="#") Portfolio
                            li.footer-menu__item 
                                a(href="#") Checkout
                .footer__column 
                    .footer__column-title Product
                    .footer__menu.footer-menu 
                        ul.footer-menu__items 
                            li.footer-menu__item 
                                a(href="#") About Us
                            li.footer-menu__item 
                                a(href="#") Blog
                            li.footer-menu__item 
                                a(href="#") Contact
                            li.footer-menu__item 
                                a(href="#") Services
                            li.footer-menu__item 
                                a(href="#") Portfolio
                .footer__column 
                    .footer__column-title Follow us:
                    .footer__social-items 
                        .footer__social-item.footer__social-item_goole Google+
                        .footer__social-item.footer__social-item_pint Pinterest
                        .footer__social-item.footer__social-item_vimeo Vimeo
                        .footer__social-item.footer__social-item_facebook Facebook
                        .footer__social-item.footer__social-item_twitter Twitter
                        .footer__social-item.footer__social-item_rss RSS
                    .footer__column-title.footer__column-title_margin-sm Payment Methods
                    .footer__payment-items 
                        .footer__payment-item 
                            img(src="./img/footer/footer_pay_1.png", alt="")
                        .footer__payment-item 
                            img(src="./img/footer/footer_pay_2.png", alt="")
                        .footer__payment-item 
                            img(src="./img/footer/footer_pay_3.png", alt="")
                        .footer__payment-item 
                            img(src="./img/footer/footer_pay_4.png", alt="")
                        .footer__payment-item 
                            img(src="./img/footer/footer_pay_5.png", alt="")
                        .footer__payment-item 
                            img(src="./img/footer/footer_pay_6.png", alt="")
        .footer__bottom 
            ul.footer__nav-items 
                li.footer__nav-item 
                    a(href="#") Sitemap
                li.footer__nav-item 
                    a(href="#") Searchs
                li.footer__nav-item 
                    a(href="#") Searchs
                li.footer__nav-item 
                    a(href="#") Advance
                li.footer__nav-item 
                    a(href="#") Searchs
                li.footer__nav-item 
                    a(href="#") Contact Us
            .footer__copyright © 2022 PSD.IN.UA |  All Rights Reserved.

                                
